name: PR builder

on:
  pull_request_target:
    branches:
      - 'master'

jobs:
  check_for_membership:
    runs-on: ubuntu-latest
    name: Check PR author membership
    outputs:
      check-result: ${{ steps.composite.outputs.check-result }}
    steps:
      - name: Action for membership check
        id: composite
        uses: hazelcast/hazelcast-tpm/membership@main
        with:
          organization-name: 'hazelcast'
          member-name: ${{ github.actor }}
          token: ${{ secrets.GH_TOKEN }}

  build:
    # using ubicloud instead of "standard" ubuntu-latest fixes issue with members not being able to connect via multicast
    runs-on: ubicloud-standard-8
    needs: check_for_membership
    env:
      MAVEN_ARGS: --batch-mode --no-transfer-progress
    steps:
      - name: Detect untrusted community PR
        if: >-
          ${{ needs.check_for_membership.outputs.check-result == 'false' &&
            (
              github.actor != 'dependabot[bot]' &&
              github.actor != 'renovate[bot]' &&
              github.actor != 'mend[bot]'
            )
          }}
        run: |
          echo "::error::ERROR: Untrusted external PR. Must be reviewed and executed by Hazelcast" 1>&2;
          exit 1

      - name: Get all the letters, words and paragraphs needed for the spell!
        uses: actions/checkout@v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - name: Setup JDK
        uses: ./.github/actions/setup-jdk

      - name: Build
        run: |
          mvn clean install --activate-profiles checkstyle --update-snapshots -DskipTests

      - name: Findbugs
        run: |
          mvn compile --activate-profiles findbugs

      - name: Verify
        run: |
          mvn verify -Dmaven.test.failure.ignore=false

      - name: Publish Test results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f
        if: ${{ !cancelled() }}
        with:
          files: "**/TEST-*.xml"
          large_files: true
